/*reseting everything*/
:root{
    --standard-gradient-btn-height:3em;
    --menu-item-hovered:orange;
    --box-shadow-default: #858585;
}
*{
    box-sizing: border-box;
}

body{
    padding: 0px 2em;
}
/*the header part start*/
header *{
    font-family: Arial;
    text-decoration: none;
    color: black;
    list-style-type: none;
    display: inline-block;
}
header{
    padding: 15px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
#site-title{
    flex: 1;
    display: inline-block;
}
header .menu-items-con{
    vertical-align: top;
    flex: 5;
    display: inline-flex;
}
header .btns-con{
    flex: 2;
    display: flex;
    justify-content: flex-end;
}
.btn{
    box-sizing: border-box;
    height: var(--standard-gradient-btn-height);
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
}
.btn-bold{
    background-color: black;
    color: white;
}
.btn-light{
    background-color: white;
    color: black;
}
header .menu-items-con .menu-item{
    padding: 15px;
    margin: 0px 5px;
    cursor: pointer;
}
/**for drop downs*/
.drop-down-btn{
    padding: 0px 15px;
}
.drop-down-content li{
    display: block;
    padding: 0.7em;
}
.drop-down-content li+li{
    border-top: 1px solid #eeeeee;
}
.drop-down-content li:hover,.menu-items-con .menu-item:hover{
    background-color: var(--menu-item-hovered);
}
.drop-down-con{
    cursor: pointer;
    position: relative;
}
.drop-down-content{
    box-shadow: var(--box-shadow-default) 1px 1px 5px;
    display: none;
    border-radius: 0.4em;
    top: 1em;
    text-align: center;
    width: 7em;
    padding: 0px ;
    position: absolute;
    right:-25px;
    background-color: white ;
    color: black;
    z-index: 1;
}
.drop-down-con:hover > .drop-down-content{
    display: inline-block;
}
#search-words{
    padding: 15px;
    border: 0;
    border-radius: 5px;
}
#search-words:focus{
    outline: none;
}

#search-icon{
    position: relative;
    vertical-align: baseline;
    top:10px ;
    left: 5px;
}
#search-words-con{
    background-color: white;
    display: inline-block;
    border-radius: 5px;
}

/* header part end*/
/**banner part start***/

.aside-banner{
    border-radius: 15px;
    background-color: black;
    box-shadow: #eee 1px 1px 1px;
 }

.aside-banner > *{
    display: inline-block;
}

.banner-title{
    display: block;
    font-size: 2em;
}
.banner-text-desc{
    display: block;
    font-size: 1.2em;
}
.aside-left-section{
    width: 40%;
    color: white;
    padding:2em 1em 3em 4em;
}
.aside-right-section{
    width: 25em;
    position: absolute;
    right: 10em;
    top:-10px
}
.gradient-btn{
    color: white !important;
    padding: 15px;
    border: 0;
    background:linear-gradient(to right,#FB7B30,#A831A5);
    background:-webkit-linear-gradient(to right,#FB7B30,#A831A5);
    background:-moz-linear-gradient(to right,#FB7B30,#A831A5);
}
.aside-banner-wrapper{
    position: relative;
    margin: 15px 0px;
}
/**banner part end***/
/**partners section start**/
#section-partners{
    height: 4em;
    margin: 5em 0em;
    display: flex;
    justify-content: space-evenly;
}
/**partners section end**/
/**grid section start**/

#section-grid > *{
    width: 33.1%;
    display: inline-block;
    vertical-align: middle;
}
#section-grid a{
    color: black;
}
#section-grid > div > h1{
    text-align: center;
}
#section-grid div{
    padding: 0.2em 2em;
    display: inline-block;
    height: 100%;
    margin: 0px;
    font-family: Arial;
}
#ear-ic{
    display:inline;
    width: 1.2em;
    height: 1.2em;
    position: relative;
    left: 0.2em;
    top: 0.2em;
    /*transform: translate(10%,20%);*/
}
.section-grid-part-check-ic{
    display: inline-block;
    vertical-align: middle;
}
.section-grid-part-title{
    display: inline-block;
    list-style-type: upper-latin;
    font-weight: normal;
}
#section-grid .btn{
    width: 80%;
    margin: 2em auto;
    display: block;
    text-align: center;
}
/**grid section end**/
/**second banner start**/
.icon-font{
    width:1em;
    height: 1em;
    margin-right:0.5em ;
}
#google-btn-con > *{
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.3em;
}
#google-btn-con > img{
    --size:2em;
    width:var(--size);
    height: var(--size);
}
#google-btn-con{
    padding: 0.3em 0.5em;
    border-radius: 0.2em;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color:white;
    height: var(--standard-gradient-btn-height);
}
.aside-banner .btns > *{
    vertical-align: middle;
    height: var(--standard-gradient-btn-height);
}
.banner2 .aside-right-section{
    width: 40em;
    right: 5em;
}
.banner2{
    margin-top: 5em;
}
/**second banner end**/
/*images gallery start*/
#section-images-gallery{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows:repeat(2,1fr);
    /*background-color: green;*/
    margin-top: 10em;
}
#section-images-gallery > *{
    position: relative;
    border-radius: 5px;
}
#section-images-gallery img{
    vertical-align: top;
    object-fit: contain;
}
#section-images-gallery figure:nth-child(2){
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
#section-images-gallery figure{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-block-start: 0px;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
#section-images-gallery figure:nth-child(5){
    position: relative;
    top:-3.2em;
    right: -2.5em;
}
#section-images-gallery figure:nth-child(7){
    position: relative;
    top:-6em;
    right: 0em;
}
/*images gallery end*/
/*footer start*/
footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
    background-color: black;
    box-shadow: #eee 1px 1px 1px;
    color: white;
    padding: 1em;
}
footer > *{
    flex: 1;
}
footer .section-left{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .section-right .col{
    display: inline-block;
    width: 30%;
}
footer a{
    text-decoration: none;
    color: white;
    display: block;
    padding:10px 0px;
}
#social-con a{
    padding: 0px;
    display: inline-block;
}
/*footer end*/


