
/*reseting everything*/
:root{
    --standard-gradient-btn-height:52px;
    --menu-item-hovered:linear-gradient(to right,#FB7B30,#A831A5);
    --box-shadow-default: #858585;
}
*{
    box-sizing: border-box;
}

body{
    padding: 0px 2em;
}
/*globals*/

.btn{
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    height: var(--standard-gradient-btn-height);
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
}
.btn-bold{
    height: 41px;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 8px;
}
.btn-light{
    padding: 8px;
    font-size: 18px;
    height: 41px;
    background-color: white;
    color: black;
}
/*the header part start*/
header *{
    font-family: Arial;
    text-decoration: none;
    color: black;
    list-style-type: none;
    display: inline-block;
}
header{
    padding: 15px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
#site-title{
    font-weight: bold;
    font-size: 24px;
    flex: 1;
    display: inline-block;
}

header.menu-items-list{
    padding: 0px;
}
header .menu-items-con .menu-item{
    padding: 10px;
    margin: 0px 5px;
    cursor: pointer;
}
header .menu-items-con{
    font-size: 18px;
    vertical-align: top;
    flex: 5;
    display: inline-flex;
    padding: 0px;
}
header .btns-con{
    font-size: 18px;
    flex: 2;
    display: flex;
    justify-content: flex-end;
}
@media all and (min-width: 720px){
    /**for drop downs*/
    .drop-down-btn{
        padding: 0px 15px;
    }
    .drop-down-content li{
        display: block;
        padding: 0.7em;
    }
    .drop-down-content li+li{
        border-top: 1px solid #eeeeee;
    }
    .drop-down-content li:hover,.menu-items-con .menu-item:hover{
        background: var(--menu-item-hovered);
    }
    .drop-down-con{
        cursor: pointer;
        position: relative;
    }
    .drop-down-content{
        box-shadow: var(--box-shadow-default) 1px 1px 5px;
        display: none;
        border-radius: 0.4em;
        top: 1em;
        text-align: center;
        width: 7em;
        padding: 0px ;
        position: absolute;
        right:-25px;
        background-color: white ;
        color: black;
        z-index: 1;
    }
    .drop-down-con:hover > .drop-down-content{
        display: inline-block;
    }


}
/* header part end*/
/**banner part start***/
#search-words{
    padding: 15px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
}
#search-words:focus{
    outline: none;
}
#search-icon{
    position: relative;
    vertical-align: baseline;
    left: 10px;
    top: -2px;
}
#search-words-con{
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    height: var(--standard-gradient-btn-height);
}
#search-words-con > *{
    vertical-align: middle;
}
.banner1 .aside-banner{
    height: 380px;
    border-radius: 15px;
    background-color: black;
    box-shadow: #eee 1px 1px 1px;
 }
.banner1 .aside-banner > *{
    display: inline-block;
}

.banner-title{
    display: block;
    font-size: 48px;
}
.banner-text-desc{
    display: block;
    font-size:20px;
}
.aside-left-section{
    width: 40%;
    color: white;
    padding:2em 1em 3em 4em;
}
.aside-right-section{
    width: 594px;
    height: 502px;
    position: absolute;
    right: 66px;
    top:-15px;
}
.gradient-btn{
    color: white !important;
    padding: 15px;
    border: 0;
    background:linear-gradient(to right,#FB7B30,#A831A5);
    background:-webkit-linear-gradient(to right,#FB7B30,#A831A5);
    background:-moz-linear-gradient(to right,#FB7B30,#A831A5);
}
.aside-banner-wrapper{
    position: relative;
    margin: 15px 0px;
}
#search-words-con .btn{
    margin: 0px;
}
.banner1 form > *{
    vertical-align: middle;
}
/**banner part end***/
/**partners section start**/
#section-partners{
    height: 76px;
    margin: 137px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/**partners section end**/
/**grid section start**/


#section-grid{
    display: flex;
    height:790px;
    margin-bottom: 132px;
}
#section-grid > *{
    display: inline-block;
    vertical-align: middle;
}
#section-grid img{
    height: 100%;
}
#section-grid a{
    color: black;
}
#section-grid > div > h1{
    text-align: center;
    font-size: 48px;
}
#section-grid > div{
    padding:0px  192px;
    display: inline-block;
    margin: 0px;
    font-family: Arial;
}
#ear-ic{
    display:inline;
    width: 1.2em;
    height: 1.2em;
    position: relative;
    left: 0.2em;
    top: 0.2em;
    /*transform: translate(10%,20%);*/
}
.section-grid-part-desc{
    color: #0C0C0C;
    font-size: 20px;
}
.section-grid-part-check-ic{
    display: inline-block;
    vertical-align: middle;
}
.section-grid-part-title{
    display: inline-block;
    list-style-type: upper-latin;
    font-weight: normal;
    font-size: 20px;
}
#section-grid .btn{
    width: 45%;
    display: block;
    text-align: center;
    margin: 50px auto;
}
/**grid section end**/
/**second banner start**/
.banner2 .aside-banner{
    border-radius: 15px;
    background-color: black;
    box-shadow: #eee 1px 1px 1px;
}
.banner2 .aside-banner > *{
    display: inline-block;
}
.banner-text-desc{
    font-size: 20px;
}
.icon-font{
    width:1em;
    height: 1em;
    margin-right:0.5em ;
}
#google-btn-con > *{
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
}
#google-btn-con > img{
    margin-right:5px ;
    --size:19px;
    width:var(--size);
    height: var(--size);
}
#google-btn-con{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color:white;
    height:100%;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: bold;
}
.banner2 .btns{
    display: flex;
    height: var(--standard-gradient-btn-height);
}
.banner2 .aside-banner .btns > *{
    margin: 0px 5px;
    display: inline-block;
    height: var(--standard-gradient-btn-height);
    vertical-align: middle;
    height: var(--standard-gradient-btn-height);
}
.banner2 .aside-right-section{
    width: 832px;
    right: 519px;
    position: absolute;
    right:59px;
    bottom: 82px;
}
.banner2{
    margin-top: 5em;
    height: 382px;
    display: none;
}
/**second banner end**/
/*images gallery start*/
#section-images-gallery{
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    display: inline-grid;
    grid-template-columns: 90px 378px 318px 430px 348px;/* 5 columns so 6 vertical lines*/
    grid-template-rows: 188px 34px 17px 37px 134px 45px 89px ;/* 8 rows so 9 horizontal lines*/
    margin: 150px 0px;
}

#img-blue-car{
    grid-row: 1 /3;
    grid-column: 1 / 3;
}
#img-mountains{
    grid-row: 1 /8;
    grid-column: 3 / 4;
}
#img-red-car{
    grid-row: 1 / 5;
    grid-column: 4/ 5;
}
#img-nature-green{
    grid-row: 1 / 2;
    grid-column: 5/ 6;
}
#img-red-house{
    grid-row: 3 / 4;
    grid-column: 2/ 3;
}
#img-men-with-fire{
    grid-row: 5 / 9;
    grid-column: 4/ 5;
}
#img-red-sky{
    grid-row: 2 / 9;
    grid-column: 5/6;
    margin-top: 7px;
}
/*images gallery end*/
/*.footer-top-area start*/
.footer-top-area{
    height: 268px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: black;
    box-shadow: #eee 1px 1px 1px;
    color: white;
    padding: 1em;
}
.footer-top-area > *{
    flex: 1;
    margin: 1px;
    display: inline-block;
}
.footer-top-area .section-left{
    padding: 1px;
    align-self: center;
}
.footer-top-area .section-left .inner-wrapper{
    width: 60%;
    margin: auto;
}
.footer-top-area .section-right .col{
    display: inline-block;
    width: 24.2%;
    vertical-align: top;
}

.footer-top-area .section-right .col a{
    padding:10px 0px;
    font-size: 16px;
}
.footer-top-area .section-right h1{
    font-size: 18px;
    font-weight: bold;
}
.footer-top-area a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;
}
#social-con{
    padding: 15px 0px 15px 0px;
}
#social-con a{
    padding: 0px;
    display: inline-block;
}
.footer-bootom-area{
    width: 100%;
}
.footer-bootom-area p{
    text-align: center;
    color: #3D3D3D;
}
/*.footer-top-area end*/

