body{
    background-color: red;
}
/* for banner 1 start*/
.banner1 .aside-banner{
    height: auto;
}
.banner1 form > .btn{
    margin: 0px;
}
/* for banner 1 end*/
/* for grid start*/
#section-grid div{
    padding: 15px;
}
#section-grid img{
    display: none;
}
#section-grid > div > h1{
    font-size: 35px;
}
.section-grid-part-title{
    font-size: 18px;
    margin: 0px;
}
.section-grid-part-desc{
    font-size: 16px;
}
#section-grid .btn{
    width: 60%;
    display: block;
    text-align: center;
    margin: 50px auto;
}
/* for grid end*/
/* for images gallery start*/
#section-images-gallery{
    display: grid;
    background-color: green;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}
#section-images-gallery img{
    width: auto;
    height: auto;
    }
#section-images-gallery > *:nth-child(2){
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#section-images-gallery > *:nth-child(5){
    top:0px;
    right: 0px;
}
/* for images gallery end*/
