body{
    background-color: #FB7B30;
}
header{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#site-title{
    display: inline-block;
    background-color: green;

}
#mobile-drop-down-con .mobile-drop-down-btn{
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px;
}
#mobile-drop-down-content{
    display: inline-block;
}

#mobile-drop-down-con{
    position: relative;
    display: inline-block;
    background-color: #A831A5;
    position: absolute;
}
#drop-down-mobile-con{
    background-color: #A831A5;
}
#drop-down-mobile-con > *{
    display: inline-block;
    background-color: green;

}

main ,footer{
    display: none;
}
