body{
    padding: 5px 50px;
}
/* for the header start*/
#mobile-drop-down-content .menu-items-con{
    font-size: 18px;
    flex-direction: row;
    justify-content: space-between;
    /*padding-left: 15px;*/
}
#mobile-drop-down-content .menu-items-con .menu-item{
    margin: 0px 30px;
}
/* for the header end */
/* for the banner 1 start*/

.banner-title{
    font-size: 48px;
}
.banner-text-desc{
    font-size:20px;
}
.banner1 .banner-left-section{
    width: 40%;
}
.banner1 .banner-right-section{
    --portion:109;
    width: calc(var(--portion)*594px/100);
    height: calc(var(--portion)*502pxpx/100) ;
    position: absolute;
    right: 66px;
    top:60px;
}
.banner1 .btn{
    font-size: 16px;
}
@media all and (max-width:1430px) {
    .banner-right-section{
        --portion:80;
        width: calc(594px*var(--portion)/100);
        height: calc(502px*var(--portion)/100);
        position: absolute;
        right: 50px;
        top:30px;
    }
}
.banner1 #search-words-con{
    justify-content: flex-start;
    gap:5px;
}
/* for the banner 1 end*/
/**partners section start**/
#section-partners{
    height: 76px;
    margin: 137px 0px;
    justify-content: space-evenly;
}
/**partners section end**/

/**grid section start**/
#section-grid{
    height:790px;
    margin-bottom: 132px;
}
#section-grid > div > h1{
    font-size: 48px;
}
#section-grid > div{
    /*! padding:0px  50px; */
}
.section-grid-part-desc{
    font-size: 20px;
}
.section-grid-part-title{
    margin: initial;
    font-size: 20px;
}
.section-grid-part{
    margin:2em 0em;
}
#section-grid > img{
    width: 33%;
}

/**grid section end**/
/**second banner start**/
.banner2 .banner-right-section{
    top: 14px;
    right: -7px;
    --portion: 81;
    width: calc(var(--portion)*832px/100);
    height: calc(var(--portion)*519px/100);
}
.banner2 .btn{
    text-align: center;
}
.banner2 .banner-title{
    margin-top: 0px;
    margin-bottom: 10px;
}
.banner2 .banner-wrapper{
    padding: 31px;
}
/**second banner end**/

/*.footer-top-area start*/
.footer-top-area{
    padding:5em;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.footer-top-area > *{
    margin: 1px;
    display: inline-block;
}
.footer-top-area .section-left{
    order: unset;
    align-self: center;
}
.footer-top-area .section-left .inner-wrapper{
    width: 60%;
    font-size: 18px;
    margin: auto;
    display: inline-block;
    margin-top: 0px;
}
.footer-top-area .section-right .col{
    display: inline-block;
    width: 24.2%;
    vertical-align: top;
}

.footer-top-area .section-right .col a{
    padding:10px 0px;
    font-size: 16px;
}
.footer-top-area .section-right h1{
    font-size: 18px;
    font-weight: bold;
}
.footer-top-area a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;
}
.footer-bootom-area{
    width: 100%;
}
.footer-bootom-area p{
    text-align: center;
    color: #3D3D3D;
}
/*.footer-top-area end*/
