body{
}
.grid-con{
    padding: 5px;
    height: 300px;
    width: 300px;
    background-color: #A831A5;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "headLeft headRight"
                            "bodyLeft bodyRight"
                                "footerLeft footerRight";
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 1fr 50px;
}
.grid-item{
    background-color: lightskyblue;
    text-align: center;
    font-size: 20px;
}
.grid-item:nth-child(1) {
    grid-area:bodyLeft;
    background-color: red;
}
.grid-item:nth-child(2){
    grid-area: 3 / 2 / 3 / 4;
}

#section-images-gallery{
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

.col-1, .col-2, .col-3, .col-4{
    display: inline-flex;
    flex-direction: column;
    gap: 34px;
}

@media screen and (max-width: 1825px) {
    #section-images-gallery{
        width: 70%;
    }

}